@import "tailwindcss";

/* latin ranges */
/* arabic + digits ranges */
/* Latin subset → Open Sans */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/OpenSans/OpenSans-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}
/* Arabic/Persian subset → Vazirmatn */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/Vazirmatn/Vazirmatn-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+0660-0669, U+06F0-06F9;
}
/* Latin subset → Open Sans */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}
/* Arabic/Persian subset → Vazirmatn */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/Vazirmatn/Vazirmatn-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+0660-0669, U+06F0-06F9;
}
/* Latin subset → Open Sans */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/OpenSans/OpenSans-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}
/* Arabic/Persian subset → Vazirmatn */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/Vazirmatn/Vazirmatn-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+0660-0669, U+06F0-06F9;
}
/* Latin subset → Open Sans */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}
/* Arabic/Persian subset → Vazirmatn */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/Vazirmatn/Vazirmatn-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+0660-0669, U+06F0-06F9;
}
/* Latin subset → Open Sans */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0100-024F, U+1E00-1EFF;
}
/* Arabic/Persian subset → Vazirmatn */
@font-face {
  font-family: 'AppSans';
  src: url("/fonts/Vazirmatn/Vazirmatn-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+0660-0669, U+06F0-06F9;
}

html, body {
  font-family: "AppSans", ui-sans-serif, system-ui;
  height: 100vh;
}
